---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import { withBase } from '../utils';

interface Props {
  post: CollectionEntry<'blog'>;
  index: number;
}

const { post, index } = Astro.props;
const href = withBase(`posts/${post.id}/`);
const num = String(index + 1).padStart(2, '0');
---

<a class="entry" href={href}>
  <span class="entry__rail">
    <span class="entry__num">{num}</span>
    <span class="entry__date"><FormattedDate date={post.data.pubDate} /></span>
  </span>
  <span class="entry__main">
    <span class="entry__title">{post.data.title}</span>
    <span class="entry__desc">{post.data.description}</span>
  </span>
</a>
